<!-- About page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>About</title>
  </head>
  <body class="form">
    <%- include('../templates/header'); -%>
    <div class="wrapper form-div">
      <h1>About</h1>
      <p>
        Ten species of owl have been recorded in Singapore, with a variety of
        sizes and preferred habitats. Some are considered common resident
        breeders, while others are occasional winter visitors and passage
        migrants.<br />
        <br />

        Owls are often seen as charismatic predatory birds. Unfortunately, the
        biggest threats are the loss of habitat, especially for those owl
        species more heavily dependent on forested areas. Poaching might also
        take its toll, even if owls are not intended targets; discarded fishing
        lines might ensnare unwary owls, and these birds may fall prey to
        similar traps meant for other wildlife. Trespassers may also
        inadvertently disturb owls and cause them to abandon formerly secure
        areas used to rest and raise their young.<br />
      </p>
    </div>
  </body>
</html>
