<%- include ('partials/header') %> 

    <!-- USING JUMBOTRON -->
    <section class="jumbotron my-jumbotron text-center">
      <h1>SUBMISSION RECIEVED!</h1>
      <h4 class="">👍 Thank you!</h4>
      <hr class="my-4" />
    </section>

    <section class = 'container-fluid my-container sightings-form'>
      <div class = 'row my-row justify-content-center'>
        <a href="/users/<%= userId %>" >Back to My Sightings</a>
      </div>
    </section>

<%- include ('partials/footer') %> 