<!-- Homepage when user hasn't signed in yet -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>OwlO – Owls spotted in Singapore</title>
  </head>
  <body>
    <%- include('../templates/header'); -%>

    <div class="wrapper">
      <section class="welcome">
        <h1>OwlO is a little project about owls spotted in Singapore.</h1>
        <a href="/signup" class="button">Sign Up</a>
      </section>

      <section class="img-div">
        <img
          src="https://static.mothership.sg/1/2021/05/owl-pasir-ris-photographers.gif"
          alt=""
        />
      </section>

      <section class="news">
        <h1>
          Juvenile owl in Pasir Ris Park puzzled why it's treated like a god
        </h1>

        <img
          src="https://static.mothership.sg/1/2021/05/owl-looking-down-at-human-subjects.jpg"
        />
        <p>Owl looking down at its human subjects</p>
        <a href="https://mothership.sg/2021/05/baby-owl-pasir-ris/"
          >Read More at Mothership</a
        >
        <p>May 02, 2021</p>
      </section>
    </div>
  </body>
</html>
