<%- include ('partials/header') %> 

    <!-- USING JUMBOTRON -->
    <section class="jumbotron my-jumbotron text-center">
      <h1>LOGIN</h1>
      <h4 class="">🔒🔒🔒</h4>
    </section>

    <section class = "container-fluid my-container sightings-form">
      <h4 class= "text-center">LOGIN</h4>

      <div class = 'row my-row justify-content-center'></div>
      
        <form action="/login" method="POST" class="needs-validation my-form" novalidate>
          
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name = "email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"  name = "password" placeholder="Password">
          </div>
      
          <button type="submit" class="btn btn-primary btn-submit">Submit</button>
        </form>
      </div>

      <div class = 'row my-row justify-content-center'>
        <a href="/sign-up" >Don't have an account? <strong>Sign Up Now!</strong></a>
      </div>
    </section>

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>

<%- include ('partials/footer') %> 