<%- include('partials/header', {title: 'logged out'}) %>
<div class="jumbotron">
  <h1 class="display-4">Logged Out!</h1>
  <p class="lead">You have successfully logged out.</p>
  <hr class="my-4" />
  <p>Please log in to your account to start your birds sighting notes!</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Log back in</a>
</div>
<%- include('partials/footer') %>
