<%- include ('partials/header') %> 

    <%- include ('partials/nav') %> 

    <!-- USING JUMBOTRON -->
    <section class="jumbotron my-jumbotron text-center">
      <h1>BIRD SIGHTING JOURNAL</h1>
      <h4 class="">✏️</h4>
    </section>

    <section class = "container-fluid my-container sightings-form">
      <h4 class= "text-center">BIRD WATCH</h4>

      <div class = 'row my-row justify-content-center'></div>
      
        <form action="/note" method="POST" class="needs-validation my-form" novalidate>
          
          <div class="form-group">
            <div class="row form-row">
              <div class="col form-col">
                <label for="date_of_sighting">Date of sighting:</label>
                <input type="date" max= <%= maxDate %>  id="date_of_sighting" name="date_of_sighting" class="form-control" required>
                <div class="invalid-feedback">Please provide a date</div>
              </div>
            </div>
            <div class="row form-row">
              <label for="flock_size">Flock Size</label>
              <select id="flock_size" name="flock_size" class="form-control" required>
                <option selected>1</option>
                <option>1-5</option>
                <option>5-10</option>
                <option>>10</option>
              </select>
            </div>

          <div class="form-group form-medium">
            <label for="appearance">Appearance</label>
            <textarea class="form-control" rows="2" id="appearance" name="appearance" required>Try to keep this in one sentence</textarea>
          </div>

          <div class="form-group form-medium">
            <label for="behaviour">Behaviour</label>
            <textarea class="form-control form-input-description" rows="4" id="behaviour" name="behaviour" required>Describe what the bird was doing</textarea>
          </div>
      
          <button type="submit" class="btn btn-primary btn-submit">Submit</button>
        </form>
      </div>

      <div class = 'row my-row justify-content-center'>
        <a href="/" >Back to homepage</a>
      </div>
    </section>

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>

<%- include ('partials/footer') %> 