<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <form action ='/signup' method="POST">
      <label for="email">Register your email</label>
      <input type="email" name="email" id="email" />
      <label for="password">Set up your password </label>
      <input type="text" name="password" id="password" />
      <button type='submit'>Register Now</button>
    </form action ='/confirmation' method="POST">
  </body>
</html>
