<%- include('partials/header', {title: 'signed up!'}) %>
<div class="jumbotron">
  <h1 class="display-4">Success!</h1>
  <p class="lead">You have successfully signed up.</p>
  <hr class="my-4" />
  <p>Please log in to your account to start your birds sighting notes!</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Log in</a>
</div>
<%- include('partials/footer') %>
