
    <%- include ('partials/head') %>
    <title>Description of bird</title>
  </head>
  <body id="single-note-body">

    <div class="container" id="single-note-text">
    <% Object.keys(oneNote).forEach((inputField) => { %>
          <div class="row" >  
      <div class="col-md-2" id="category"> <%= inputField %>:</div>
      <div class="col-md-10" id="response"> <%= oneNote[inputField] %></div>
      </div>
      <br>
      <% }); %>
      </div>
    <%- include ('partials/footer') %>