<header>
  <nav class="left">
    <a href="/about">About</a>
  </nav>

  <a href="/">
    <div class="face">
      <img src="../assets/face-without-eyes.svg" alt="logo" />
      <div class="iris iris-left"><div></div></div>
      <div class="iris iris-right"><div></div></div>
    </div>
  </a>

  <nav class="right">
    <a href="/login">Log In</a>
    <a href="/signup" class="btn">Sign Up</a>
    <!-- Toggle "Logout" when user has the header cookie -->
  </nav>
</header>

<script src="eyes.js"></script>
