<header>
  <h1>OwlO</h1>
  <nav>
    <a href="/note">New Note</a>
    <a href="/login" class="visible">Log In</a>
    <a href="/signup" class="visible">Sign Up</a>
    <!-- Toggle "Logout" when user has the header cookie -->
    <a href="/logout" class="hidden">Log Out</a>
  </nav>
</header>
