<header>
  <h1>OwlO</h1>
  <nav>
    <a href="/note">Add Note</a>
    <a href="/species">Add Species</a>
    <!-- Toggle "Logout" when user has the header cookie -->
    <form method="POST" action="/logout?_method=DELETE">
      <button type="submit" value="logout" class="nav-link">Log Out</button>
    </form>
  </nav>
</header>
