<%- include('../partials/header.ejs') %> <% const date = new Date(); %>
<main class="form-signin container mt-4 p-4">
  <form action="/signUp" method="POST">
    <!-- <img
      class="mb-4"
      src="/docs/5.0/assets/brand/bootstrap-logo.svg"
      alt=""
      width="72"
      height="57"
    /> -->
    <% if (typeof errMsg === 'string' && errMsg) { %>
    <h3 class="text-danger"><%= errMsg %></h3>
    <% } %>
    <h1 class="h3 mb-3 fw-normal">Create Account</h1>

    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        name="email"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        name="password"
      />
      <label for="floatingPassword">Password</label>
    </div>

    <!-- <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div> -->
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© <%= date.getFullYear() %></p>
  </form>
</main>

<%- include('../partials/footer.ejs') %>
